:root {
  --primary-bg-color: #7a9e8e;
  --text-color: #2d2d2d;
  --main-bg-color: #7a9e8e;
  --main-text-color: #f5efe8;
  --main-btn-bg-color: #7a9e8e;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  background-color: var(--main-text-color);
  max-width: 1400px;
  width: 100%;
  padding: 10px;
  border-radius: 30px 30px 30px 30px;
}

/* Header styling */
header {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  font-size: 30px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  border-radius: 0 0 30px 30px;
}

/* Navigation styling */
nav {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #a2d6bf;  
  border-radius: 40px;
  width: fit-content;
  margin: 20px auto;
}

.theme-btn {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.album-cover {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
}

/* Media player styling */
.media-player {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.player-left {
    flex-shrink: 0;
    margin-left: 2rem;
    margin-bottom: 2rem;

}

.player-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding-bottom: 2rem;
}

#theme-title {
    font-size: 3rem;
    text-align: center;
    align-self: center;
    margin-bottom: 30px;
}



.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
  flex-direction: column;

}

.controls-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  padding: 0.75rem 1.5rem;
  background-color: var(--main-bg-color);  
  border-radius: 40px;
  width: fit-content;
  margin: 20px auto;
}


.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 80%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 10px;

}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
